
<section class="container">
	 <section id="four" class="wrapper style5 special">
         
    </section>
	<%if flash[:notice]%>
	<%=flash[:notice]%>
	<%end%><br>
	<a href="/" class="button special">Home</a>
	<h3>Register</h3>
	<%= form_for @runners, :url => create_path, :html => {:multipart => true} do |f| %>
  		<%= f.label :first_name %>
  		<%= f.text_field :first_name %>
  		<%= f.label :last_name %>
		<%= f.text_field :last_name %>
		<%= f.label :email %>
		<%= f.text_field :email %>
		<%= f.label :password %>
		<%= f.text_field :password %>
		<%= f.label :gender %>
		<%= f.text_field :gender %>
		<%= f.label :shoe_size %>
		<%= f.text_field :shoe_size %>
		<%= f.label :avatar %>
		<%= f.file_field :avatar %><br>
		<%= f.submit :submit %>
	<% end %>
	<!-- <form method="post" action="/create">
	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
		<div class="row uniform 50%">
			<div class="6u 12u$(xsmall)">
				<input type="text" name="first_name" id="name" value="" placeholder="First Name" />
			</div>
			<div class="6u$ 12u$(xsmall)">
				<input type="text" name="last_name" id="email" value="" placeholder="Last Name" />
			</div>
			<div class="6u$ 12u$(xsmall)">
				<input type="email" name="email" id="email" value="" placeholder="Email" />
			</div>
			<div class="6u$ 12u$(xsmall)">
				<input type="text" name="password" value="" placeholder="Password" />
			</div>
			<div class="6u$ 12u$(xsmall)">
				<input type="number" name="shoe_size" id="email" value="" placeholder="Shoe Size" />
			</div>
			<div class="6u$ 12u$(xsmall)">
				<input type="text" name="gender" id="email" value="" placeholder="Gender" /><br>
			</div>
		</div>
			<input type="submit" class="button special" value="Register">
	</form> -->
	<h3>Login</h3>
	<form method="post" action="/login">
	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
		<div class="row uniform 50%">
			<div class="6u 12u$(xsmall)">
				<input type="email" name="email" id="email" value="" placeholder="Email" />
			</div>
			<div class="6u$ 12u$(xsmall)">
				<input type="text" name="password" id="password" value="" placeholder="Password" /><br>
			</div>
		</div>
			<input type="submit" class="button special" value="Login">
	</form>
</section>